<footer class="footer">
    <div class="container">
        Thanks for posting!
    </div>
</footer>

<script src="/javascripts/jquery.min.js"></script>
<script src="<%= assetFingerprint('/javascripts/scripts.js') %>"></script>

</body>

</html>